a {
    color: #61AFEF;
}

b, strong {
    color: #D19A66;
}

em {
    color: #C678DD;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: #E06C75;
    border-color: #3E4451;
}

pre code {
    color: #ABB2BF;
}

code {
    color: #98C379;
}

/* pre:not(.hljs),
code>div {
    background-color: #2C313A;
} */

table > thead > tr > th {
    border-color: #3E4451;
}

h1, hr, table > tbody > tr + tr > td {
    border-color: #3E4451;
}

blockquote {
    color: #5C6370;
    font-style: italic;
    background: transparent;
    border-color: #3E4451;
}

/* .vscode-dark.showEditorSelection .code-active-line:before {
    border-left: 3px solid #E5C07B;
}

.vscode-dark.showEditorSelection .code-line:hover:before {
    border-left: 3px solid #3E4451;
} */